body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/Hogwarts.jpg);
}
#msg {
  font-size: 1.2em;
}
h2 {
  color: white;
  font-weight: bolder;
  text-align: center;
}
h4 {
  color: white;
  font-weight: bold;
  padding-top: 20px;
}
.card {
  height: 180px;
  width: 200px;
  background: white;
}